@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.bg-cus {
  background: linear-gradient(rgba(138, 136, 136, 0.4), rgba(13, 19, 75, 0.9)),
    url("../assets/architect.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
